# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [227]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json
import time

# Import API key
from api_keys import weather_api_key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [117]:
#Reading the weather file that I created in the last exercise
cities_data = pd.read_csv('weather.csv')
cities_data.head()

,city,temp_max,humidity,wind_speed,cloudiness,country,date,longitude,latitude
0,Emba,-8.70,82,2.27,0,KZ,1608043532,58.14,48.83
1,Port Blair,27.20,84,4.60,100,IN,1608043389,92.75,11.67
2,Atuona,25.81,77,9.11,7,PF,1608043534,-139.03,-9.80
3,Bluff,13.89,85,1.79,68,NZ,1608043535,168.33,-46.60
4,Kathu,30.00,94,0.50,20,TH,1608043536,98.33,7.92

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [118]:
#configure maps
gmaps.configure(api_key = g_key)

In [119]:
#use lat and lng as locations
locations = cities_data[["latitude","longitude"]]

#use humidity as weight
humidity = cities_data["humidity"].astype(float)

In [120]:
#create and configure heat map of "cities data" dataframe
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights = humidity,
                                dissipating = False, max_intensity = 10,
                                point_radius =3.0)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [275]:
#creating a dataframe using loc to identify conditions that I want met for my ideal cities in which to vacation
ideal_df = cities_data.loc[(cities_data["temp_max"]>20)& (cities_data["humidity"]<20)& (cities_data["wind_speed"]<20)& 
                           (cities_data["cloudiness"]<80)]
#Removed any records with empty data
ideal_df.dropna()

,city,temp_max,humidity,wind_speed,cloudiness,country,date,longitude,latitude
76,San Juan,26.29,17,6.77,0,AR,1608043615,-68.54,-31.54
91,Mbamba,35.47,10,3.75,50,NG,1608043632,13.10,9.98
120,Tanout,31.09,13,6.15,0,NE,1608043663,8.89,14.97
133,Filingué,36.05,10,3.15,11,NE,1608043678,3.32,14.35
204,San Luis,24.51,18,6.70,0,AR,1608043756,-66.34,-33.30
318,Dakoro,33.85,11,4.60,7,NE,1608043882,6.76,14.51
339,Atar,29.69,13,3.58,0,MR,1608043905,-13.05,20.52
364,Tandil,21.67,19,4.47,0,AR,1608043933,-59.13,-37.32
405,Doka,31.05,14,2.81,75,SD,1608043978,35.77,13.52
434,Wamba,36.35,12,3.17,30,NG,1608044010,8.60,8.93
438,Gouré,31.67,13,3.58,11,NE,1608044014,10.27,13.98
485,Pala,36.54,9,3.46,6,TD,1608044065,14.90,9.36
536,Taoudenni,29.16,15,2.90,37,ML,1608044122,-3.98,22.68

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [258]:
hotel_df = ideal_df
hotel_df["Hotel Name"] = ""
hotel_df

<ipython-input-258-5bde7798d5f1>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hotel_df["Hotel Name"] = ""

,city,temp_max,humidity,wind_speed,cloudiness,country,date,longitude,latitude,Hotel Name
76,San Juan,26.29,17,6.77,0,AR,1608043615,-68.54,-31.54,
91,Mbamba,35.47,10,3.75,50,NG,1608043632,13.10,9.98,
120,Tanout,31.09,13,6.15,0,NE,1608043663,8.89,14.97,
133,Filingué,36.05,10,3.15,11,NE,1608043678,3.32,14.35,
204,San Luis,24.51,18,6.70,0,AR,1608043756,-66.34,-33.30,
318,Dakoro,33.85,11,4.60,7,NE,1608043882,6.76,14.51,
339,Atar,29.69,13,3.58,0,MR,1608043905,-13.05,20.52,
364,Tandil,21.67,19,4.47,0,AR,1608043933,-59.13,-37.32,
405,Doka,31.05,14,2.81,75,SD,1608043978,35.77,13.52,
434,Wamba,36.35,12,3.17,30,NG,1608044010,8.60,8.93,
438,Gouré,31.67,13,3.58,11,NE,1608044014,10.27,13.98,
485,Pala,36.54,9,3.46,6,TD,1608044065,14.90,9.36,
536,Taoudenni,29.16,15,2.90,37,ML,1608044122,-3.98,22.68,

In [259]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = {
    "type":"lodging",
    "keyword": "hotel",
    "radius":20000,
    "key":g_key
}

In [261]:
for index, row in hotel_df.iterrows():
    lat = row["latitude"]
    long = row["longitude"]
    city = row["city"]
    
    params["location"] = f'{lat},{long}'
    print(f"Retrieving results for {city}")
    
    response = requests.get(base_url, params=params).json()
    results = response['results']
    
    try:
        print(f"Closest hotel in{city} is {results[0]['name']}.")
        hotel_df.loc[index, "Hotel Name"] = results[0]['name']
    except (KeyError, IndexError):
        print("No hotel found")
    time.sleep(1)

Retrieving results for San Juan
Closest hotel inSan Juan is Hotel Viñas del Sol.

C:\Users\ninam\anaconda3\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

Retrieving results for Mbamba
No hotel found
Retrieving results for Tanout
No hotel found
Retrieving results for Filingué
No hotel found
Retrieving results for San Luis
Closest hotel inSan Luis is Hotel Potrero De Los Funes.
Retrieving results for Dakoro
No hotel found
Retrieving results for Atar
Closest hotel inAtar is Bab Sahara.
Retrieving results for Tandil
Closest hotel inTandil is Posada La Protegida.
Retrieving results for Doka
No hotel found
Retrieving results for Wamba
Closest hotel inWamba is Bishop Suites & Hotels Nigeria Limited.
Retrieving results for Gouré
No hotel found
Retrieving results for Pala
Closest hotel inPala is Hotel Pala Palace.
Retrieving results for Taoudenni
No hotel found

In [262]:
hotel_df

,city,temp_max,humidity,wind_speed,cloudiness,country,date,longitude,latitude,Hotel Name
76,San Juan,26.29,17,6.77,0,AR,1608043615,-68.54,-31.54,Hotel Viñas del Sol
91,Mbamba,35.47,10,3.75,50,NG,1608043632,13.10,9.98,
120,Tanout,31.09,13,6.15,0,NE,1608043663,8.89,14.97,
133,Filingué,36.05,10,3.15,11,NE,1608043678,3.32,14.35,
204,San Luis,24.51,18,6.70,0,AR,1608043756,-66.34,-33.30,Hotel Potrero De Los Funes
318,Dakoro,33.85,11,4.60,7,NE,1608043882,6.76,14.51,
339,Atar,29.69,13,3.58,0,MR,1608043905,-13.05,20.52,Bab Sahara
364,Tandil,21.67,19,4.47,0,AR,1608043933,-59.13,-37.32,Posada La Protegida
405,Doka,31.05,14,2.81,75,SD,1608043978,35.77,13.52,
434,Wamba,36.35,12,3.17,30,NG,1608044010,8.60,8.93,Bishop Suites & Hotels Nigeria Limited
438,Gouré,31.67,13,3.58,11,NE,1608044014,10.27,13.98,
485,Pala,36.54,9,3.46,6,TD,1608044065,14.90,9.36,Hotel Pala Palace
536,Taoudenni,29.16,15,2.90,37,ML,1608044122,-3.98,22.68,

In [264]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>city</dt><dd>{city}</dd>
<dt>Country</dt><dd>{country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["latitude", "longitude"]]

In [266]:
print(info_box_template)
print(hotel_info)

<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>city</dt><dd>{city}</dd>
<dt>Country</dt><dd>{country}</dd>
</dl>

['\n<dl>\n<dt>Name</dt><dd>Hotel Viñas del Sol</dd>\n<dt>city</dt><dd>San Juan</dd>\n<dt>Country</dt><dd>AR</dd>\n</dl>\n', '\n<dl>\n<dt>Name</dt><dd></dd>\n<dt>city</dt><dd>Mbamba</dd>\n<dt>Country</dt><dd>NG</dd>\n</dl>\n', '\n<dl>\n<dt>Name</dt><dd></dd>\n<dt>city</dt><dd>Tanout</dd>\n<dt>Country</dt><dd>NE</dd>\n</dl>\n', '\n<dl>\n<dt>Name</dt><dd></dd>\n<dt>city</dt><dd>Filingué</dd>\n<dt>Country</dt><dd>NE</dd>\n</dl>\n', '\n<dl>\n<dt>Name</dt><dd>Hotel Potrero De Los Funes</dd>\n<dt>city</dt><dd>San Luis</dd>\n<dt>Country</dt><dd>AR</dd>\n</dl>\n', '\n<dl>\n<dt>Name</dt><dd></dd>\n<dt>city</dt><dd>Dakoro</dd>\n<dt>Country</dt><dd>NE</dd>\n</dl>\n', '\n<dl>\n<dt>Name</dt><dd>Bab Sahara</dd>\n<dt>city</dt><dd>Atar</dd>\n<dt>Country</dt><dd>MR</dd>\n</dl>\n', '\n<dl>\n<dt>Name</dt><dd>Posada La Protegida</dd>\n<dt>city</dt><dd>Tandil</dd>\n<dt>Country</dt><dd>AR</dd>\n</dl>\n', '\n<dl>\n<dt>Name</dt><dd></dd>\n<dt>city</dt><dd>Doka</dd>\n<dt>Country</dt><dd>SD</dd>\n</dl>\n', '\n<dl>\n<dt>Name</dt><dd>Bishop Suites & Hotels Nigeria Limited</dd>\n<dt>city</dt><dd>Wamba</dd>\n<dt>Country</dt><dd>NG</dd>\n</dl>\n', '\n<dl>\n<dt>Name</dt><dd></dd>\n<dt>city</dt><dd>Gouré</dd>\n<dt>Country</dt><dd>NE</dd>\n</dl>\n', '\n<dl>\n<dt>Name</dt><dd>Hotel Pala Palace</dd>\n<dt>city</dt><dd>Pala</dd>\n<dt>Country</dt><dd>TD</dd>\n</dl>\n', '\n<dl>\n<dt>Name</dt><dd></dd>\n<dt>city</dt><dd>Taoudenni</dd>\n<dt>Country</dt><dd>ML</dd>\n</dl>\n']

In [274]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))